In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
data = pd.read_csv('../Data/Yodak.csv', encoding='cp949')

data.head(5)

   PSEUDO_ID TEST_CD  TEST_REPRT_DATE TEST_RESULT
0    1868285   B0010         20090917      Yellow
1    1868285   B0010         20091022      Yellow
2    1868285   B0010         20091127      Yellow
3    1868285   B0010         20100105      Yellow
4    1868285   B0010         20100209      Yellow

In [10]:
len(data)

500000

# Data Preprocessing

In [7]:
# find nan

data.isna().sum()

PSEUDO_ID          0
TEST_CD            0
TEST_REPRT_DATE    0
TEST_RESULT        0
dtype: int64

In [8]:
# find duplicates

data.duplicated().sum()

3

In [9]:
data[data.duplicated()]

        PSEUDO_ID TEST_CD  TEST_REPRT_DATE TEST_RESULT
136608   50819265     백혈구         20130914          22
408200  891166425      잠혈         20180413           0
484173  930047895      잠혈         20190513           5

In [13]:
# drop duplicates

data = data.drop_duplicates()

len(data)

499997

## Selecting columns

In [15]:
data.TEST_CD.value_counts()

비중          34778
B0043GG     34766
B0043HH     34761
B0043II     34753
산도          34660
단백질         34638
잠혈          34629
B0010       34627
백혈구         34623
포도당         34590
케톤체         34527
아질산염        34526
우로빌리노겐      34517
빌리루빈        34515
B0030ROO    12274
B0030RPP     2416
B0030RGG      189
B0030RDD       88
B0030RQQ       78
B0030RFF       40
B0030REE        2
Name: TEST_CD, dtype: int64

In [21]:
# 단백질, 백혈구, 비중, 빌리루빈, 산도, 아질산염, 우로빌리노겐, 잠혈, 케톤체, 포도당

protein = data.loc[data.TEST_CD == '단백질']
leukocyte = data.loc[data.TEST_CD == '백혈구']
sg = data.loc[data.TEST_CD == '비중']
bilirubin = data.loc[data.TEST_CD == '빌리루빈']
acidity = data.loc[data.TEST_CD == '산도']
nitrite = data.loc[data.TEST_CD == '아질산염']
urobilinogen = data.loc[data.TEST_CD == '우로빌리노겐']
occult_blood  = data.loc[data.TEST_CD == '잠혈']
ketone_body = data.loc[data.TEST_CD == '케톤체']
glucose = data.loc[data.TEST_CD == '포도당']

# Making Data

In [25]:
protein.PSEUDO_ID.value_counts()

100130475    170
2088715      150
50819265     143
930011215    125
930147815    122
            ...
70053215      20
150068385     19
80032675      19
850192935     19
911746785     19
Name: PSEUDO_ID, Length: 966, dtype: int64